@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;800&display=swap');

/* BEGIN RESET */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END RESET */

body {
    font-family: 'Playfair Display', serif;
    background: black;
    height: 100%;
    color: white;
}

hr {
    border-top: 1px solid white;
    width: 95%;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    font-size: 4rem;
    margin-block: 2rem;
    text-align: center;
}
/* NAV STYLE */
.nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    width: 90%;
    padding-block: 1rem;
}

button {
    background: none;
    color: white;
    border: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
    transition: all 350ms;
    padding: .5rem;
    font-size: 1.25rem;
    cursor: pointer;
}

button:hover {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

/* BODY STYLES */
/* HOME STYLE */

#home-display {
    display: flex;
    width: 800px;
    margin-top: 3rem;
    gap: 2em;
}

.home-graphic {
    border-radius: 10%;
    width: 50%;
    aspect-ratio: 1 / 1;
}

/* MENU STYLE */

#menu-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-inline: 3rem;
    gap: 1rem;
    margin-top: 4rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid white;
    padding: 30px;
    transition: all 350ms;
    border-radius: 10px;
}

.pizza-title {
    font-size: 1.5em;
    font-weight: 900;
    margin-bottom: 1rem;
    transition: all 500ms;
}

.pizza-description {
    font-size: 1em;
    text-align: center;
}

.card:hover {
    transform: scale(105%);
    box-shadow: 0 0 30px rgb(75, 8, 8);
}

.card:hover>.pizza-title {
    color: rgb(75, 8, 8);
}